#Ignore main .RData 
*.RData
*.RDataTmp
#Ignore all R transcript files
*.R~
*.Rt
#Ignore some picture files
*.jpg
*.ps
*.png
#*.html
#Ignore emacs and vim temporary files
*.swp
*.swo
.#*
*#
#Ignore Apple files
.DS_Store
#Ignore tex output files
*.log
*.eps
*.aux
*.toc
*.out
*.gz
*.tex
#Ignore output
#output/*
*~
*.Rhistory
#Ignore Vaidotui
Vaidotui/
plots/
#Ignore comsim.RData since it is copied to output
comsim.RData
##Ignore fucking temporary Excel files
~$*.xls*
##Ignore results
output/results/
.Rproj.user

gpmbridge/Global*
gpmbridge/output
gpmbridge/figure
*.Rproj
reerreport.pdf
99*.R
projectng/repo
